<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Smoketest">
    <classes>
      <class name="multipletestscenario.Class2"/>
      <class name="multipletestscenario.Class3"/>
      <class name="multipletestscenario.Class1"/>
    </classes>
  </test> <!-- Smoketest -->
</suite> <!-- Suite -->
